[submodule "apps/CreationStation"]
	path = apps/CreationStation
	url = https://github.com/wwestlake/CreationStation.git
[submodule "apps/CreationEngine"]
	path = apps/CreationEngine
	url = https://github.com/wwestlake/Creation-Engine.git
[submodule "apps/CreationMovie"]
	path = apps/CreationMovie
	url = https://github.com/wwestlake/Creation-Movie.git
[submodule "apps/CreationLive"]
	path = apps/CreationLive
	url = https://github.com/wwestlake/Creation-Live.git
[submodule "apps/CreationTexture"]
	path = apps/CreationTexture
	url = https://github.com/wwestlake/Creation-Texture.git
[submodule "apps/CreationModeler"]
	path = apps/CreationModeler
	url = https://github.com/wwestlake/Creation-Modeler.git
[submodule "apps/CreationRemoteAndroid"]
	path = apps/CreationRemoteAndroid
	url = https://github.com/wwestlake/Creation-Remote-Android.git
	branch = master
[submodule "apps/CreationRemoteReceiver"]
	path = apps/CreationRemoteReceiver
	url = https://github.com/wwestlake/Creation-Remote-Receiver.git
	branch = master
[submodule "apps/CreationEngineer"]
	path = apps/CreationEngineer
	url = https://github.com/wwestlake/Creation-Engineer.git
	branch = master
